<header>
    <button type="button" id="btnMenu" onclick="">Show Menu</button>
    <nav class="topNav hideMenu">
        <ul class="flexParent">
            <li class="flexChild"><a class="bgcolor" href="/users">MyFace</a></li>
            <li class="flexChild"><a class="bgcolor" href="/">Home</a></li>
            <li class="flexChild"><a class="bgcolor" href="/posts">Posts</a></li>
            <li class="flexChild"><a class="bgcolor" href="/users">Users</a></li>
            <li class="flexChild"><a class="bgcolor" href="/posts/create/">+ New Post</a></li>
        </ul>
    </nav>
</header>